<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234087664354-s7r1edlfo3o6gnvc7k0t5362tqofu5j0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234087664354-s7r1edlfo3o6gnvc7k0t5362tqofu5j0</string>
	<key>API_KEY</key>
	<string>AIzaSyAH3TnIMqWicGX6xf03_diBXuSAlh5ZtVE</string>
	<key>GCM_SENDER_ID</key>
	<string>234087664354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SamuelFolledo.FolledoUserAuth</string>
	<key>PROJECT_ID</key>
	<string>folledouserauth</string>
	<key>STORAGE_BUCKET</key>
	<string>folledouserauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234087664354:ios:763223d86511276d6eacbb</string>
	<key>DATABASE_URL</key>
	<string>https://folledouserauth.firebaseio.com</string>
</dict>
</plist>